@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.woff2') format('woff2'),
       url('/fonts/Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Helvetica', sans-serif;
  background: #ddd;
}

nav.breadcrumbs {
  height: inherit !important;
  min-height: 56px; 
}